.DS_Store
__pycache__
dist/
dw_tap.egg-info/
saved.png
templates/served/*
outputs/*
static/raw/*
proto.out
templates/12x24_index.html
templates/bc_index.html
templates/by_address.html
templates/info.html
templates/on_map.html
templates/ts_index.html
templates/monthly_index.html
static/plots/*
static/completed/*
templates/on_map3.html
