Flask
flask_cors
geopandas
h5pyd
matplotlib
numpy
pandas
pyproj
python_dateutil
scikit_learn
scipy
setuptools
Shapely
tensorflow
xarray
cfgrib
eccodes==1.2.0
descartes
joblib
windrose
appfleet-pipeline
cfgrib
tqdm
