__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.env/
.DS_Store
.git/
.gitignore
.pytest_cache/
.mypy_cache/
coverage.xml
.coverage
htmlcov/
node_modules/
*.log
*.sqlite3
Dockerfile*
**/.dockerignore

