<!doctype html>
<html>

<head>
  <title>TAP API: map</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="static/styles/accordion.css">
  <link rel="stylesheet" href="static/styles/banner.css">
  <link rel="stylesheet" href="static/styles/gmap.css">
  <link rel="stylesheet" href="static/styles/map3.css">
  <link rel="stylesheet" href="static/styles/wtkled_results.css">

  <!-- Using jquery to gray out the screen when location is selected -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->

  <!-- Attempting to resize results accordiong when window is resized; needs more work
  <script>
  function handleWindowSize() {
   results_accordion_update();
   console.log("resized")
  }
  window.addEventListener('resize', handleWindowSize);
  </script>
  -->

</head>
<body>

  <div class="top-banner">
    <a href="https://www.nrel.gov/wind/tools-assessing-performance.html"><img id="banner_tap_ui" src="static/windwatts_beta_w.png"/></a>
    <span> To start, click on the map or navigate to a specific location using "Address".</span>
    <img id="banner_nrel" src="static/NREL-logo-reversed.png"/>
  </div>

  <div class="pac-card" id="pac-card">
      <div>
      <!-- Borrowed from: https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete#maps_places_autocomplete-javascript-->
      <div id="title">Autocomplete search</div>
      <div id="type-selector" class="pac-controls">
        <input
          type="radio"
          name="type"
          id="changetype-all"
          checked="checked"
        />
        <label for="changetype-all">All</label>

        <input type="radio" name="type" id="changetype-establishment" />
        <label for="changetype-establishment">establishment</label>

        <input type="radio" name="type" id="changetype-address" />
        <label for="changetype-address">address</label>

        <input type="radio" name="type" id="changetype-geocode" />
        <label for="changetype-geocode">geocode</label>

        <input type="radio" name="type" id="changetype-cities" />
        <label for="changetype-cities">(cities)</label>

        <input type="radio" name="type" id="changetype-regions" />
        <label for="changetype-regions">(regions)</label>
      </div>
      <br />
      <div id="strict-bounds-selector" class="pac-controls">
        <input type="checkbox" id="use-location-bias" value="" checked />
        <label for="use-location-bias">Bias to map viewport</label>

        <input type="checkbox" id="use-strict-bounds" value="" />
        <label for="use-strict-bounds">Strict bounds</label>
      </div>
    </div>
    <!--<div id="pac-container">
      <input id="pac-input" type="text" placeholder="Enter a location" />
    </div>
    -->
  </div>



  <div id="map"></div>



  <div id="infowindow-content">
    <span id="place-name" class="title"></span><br />
    <span id="place-address"></span>
  </div>

  <div class="accordion_wrapper">

  <button class="accordion">Address</button>
  <div class="panel">
    <div class="vspace"></div>

    <input id="pac-input" type="text" placeholder="Enter a location" /><br>
    <label for="fname">Type in address or navigate to it using the map.</label>
    <div class="vspacel"></div>
  </div>


  <button class="accordion">Hub height</button>
  <div class="panel">
    <br>
    <label for="fname" class="hubheight_label">Closest value (in meters) to the considered hub height:</label>
    <!-- Improved version: select from options
    <fieldset class="hubheight_fieldset">
      <input type="radio" id="hubheightChoice1" name="hub_height" value="30"/>
      <label for="hubheightChoice1">30</label>
      <br>
      <input type="radio" id="hubheightChoice2" name="hub_height" value="40" checked="checked"/>
      <label for="hubheightChoice2">40</label>
      <br>
      <input type="radio" id="hubheightChoice3" name="hub_height" value="60" />
      <label for="hubheightChoice3">60</label>
      <br>
      <input type="radio" id="hubheightChoice4" name="hub_height" value="80" />
      <label for="hubheightChoice4">80</label>
      <br>
      <input type="radio" id="hubheightChoice4" name="hub_height" value="100" />
      <label for="hubheightChoice4">100</label>
    </fieldset>
    -->

    <!-- Original version: type in your value
    <div class="vspace"></div>
    <input type="text" class="text_field" id="hub_height" value="35"><br>
    <label for="fname">Hub height, meters</label>
    <div class="vspace"></div>
    -->

    <!-- Slider based on example fromL: https://stackoverflow.com/questions/26612700/ticks-for-type-range-html-input -->
    <div class="options">
      <input class="hub_height" type="range" min="1" max="7" step="1" list="steplist" value="1" />
      <!---
      <datalist id="steplist">
         <option>30</option>
         <option>40</option>
         <option>60</option>
         <option>80</option>
         <option>100</option>
         <option>120</option>
         <option>140</option>
      </datalist>
      -->
      <div class="ticks">
        <span class="o_txt">30</span>
        <span class="o_txt">40</span>
        <span class="o_txt">60</span>
        <span class="o_txt">80</span>
        <span class="o_txt">100</span>
        <span class="o_txt">120</span>
        <span class="o_txt">140</span>
      </div>
    </div>

  </div>

  <!--
  <button class="accordion">Years</button>
  <div class="panel">
     <div class="vspace"></div>
    <input type="text" class="text_field" id="years" value="2013"><br>
    <label for="fname">Supported: 2007-2013.<br>Specify: <ins>2013</ins> (single year), <ins>2011-2013</ins> (range), <ins>2007,2010-2013</ins> (combination).<br></label>
    <div class="vspace"></div>
  </div>
  -->

  <!--
  <button class="accordion">Output</button>
  <div class="panel">
    <div class="vspace"></div>
    <div class="output_selection">
      <input type="radio" id="output_report" name="output" value="report" checked />
      <label for="Choice1">Wind report (incl. monthly plot, 12x24, bias correction, etc.)</label><br>
      <input type="radio" id="output_report" name="output" value="raw" />
      <label for="Choice2">Raw timeseries</label><br>
    </div>
    <div class="vspace"></div>
  </div>
  -->

  <button class="accordion">Power curve</button>
  <div class="panel">
    <fieldset class="powercurve_fieldset">
      <input type="radio" id="powercurveChoice1" name="powercurve" value="nrel-reference-2.5kW" />
      <label for="powercurveChoice1">NREL's reference powercurve for 2.5kW</label>
      <br>
      <input type="radio" id="powercurveChoice2" name="powercurve" value="nrel-reference-100kW" checked="checked"/>
      <label for="powercurveChoice2">NREL's reference powercurve for 100kW</label>
      <br>
      <input type="radio" id="powercurveChoice3" name="powercurve" value="nrel-reference-250kW" />
      <label for="powercurveChoice3">NREL's reference powercurve for 250kW</label>
      <br>
      <input type="radio" id="powercurveChoice4" name="powercurve" value="nrel-reference-2000kW" />
      <label for="powercurveChoice4">NREL's reference powercurve for 2000kW</label>
      <br>
      <input type="radio" id="powercurveChoice5" name="powercurve" value="bergey-excel-15" />
      <label for="powercurveChoice5">Bergey Excel 15</label>
      <br>
      <input type="radio" id="powercurveChoice6" name="powercurve" value="eocycle-25" />
      <label for="powercurveChoice6">Eocycle EO25</label>
      <br>
      <input type="radio" id="powercurveChoice7" name="powercurve" value="northern-100c-24" />
      <label for="powercurveChoice7">NPS Northern Power NPS 100C (24m rotor diameter)</label>
      <br>
      <input type="radio" id="powercurveChoice8" name="powercurve" value="siva_250kW_30m_rotor_diameter" />
      <label for="powercurveChoice8">Siva 250kW (30m rotor diameter)</label>
      <br>
      <input type="radio" id="powercurveChoice9" name="powercurve" value="siva_250kW_32m_rotor_diameter" />
      <label for="powercurveChoice9">Siva 250kW (32m rotor diameter)</label>
    </fieldset>
    <label for="fname">Make sure the selected turbine class matches the hub height (higher hub heights should be chosen for larger turbines).</label>
    <div class="vspace"></div>
  </div>
    <!--
    <select name="powercurve" id="powercurve">
      <option value="N/A" selected="selected">N/A</option>
      <option value="nrel-reference-2.5kW">nrel-reference-2.5kW</option>
      <option value="nrel-reference-100kW" selected="selected">nrel-reference-100kW</option>
      <option value="nrel-reference-250kW">nrel-reference-250kW</option>
      <option value="nrel-reference-2000kW">nrel-reference-2000kW</option>

      <option value="bergey-excel-15">bergey-excel-15</option>
      <option value="eocycle-25">eocycle-25</option>
      <option value="northern-100">northern-100</option>

    </select>
    <br><label for="fname">N/A means the results will include only wind data, without energy estimates</label>
    <div class="vspace"></div>
    -->

    <button class="accordion">About WindWatts</button>
    <div class="panel">
      <br>
      <label for="fname">Read more about the tool at: <a href="https://www.nrel.gov/wind/windwatts.html" target="_blank" rel="noopener noreferrer">WindWatts page</a>.</label>
      <div class="vspace"></div>
      <div class="vspace"></div>
    </div>

  <!--
  <button class="accordion">Data source</button>
  <div class="panel">
    <select name="datasource" id="datasource">
      <option value="WTK-LED" selected="selected">WTK-LED (2001-2020)</option>
      <option value="WTK">WTK (2007-2013)</option>
    </select><br>
    <label for="fname">More info about datasets: link</label>
    <div class="vspace"></div>
  </div>
  -->

</div>

<!-- Replacement for the hidden accordion/controlled parameter element-->
<button style="visibility:hidden;">Years</button>
<div class="panel" style="visibility:hidden;">
  <input type="text" class="text_field" id="years" value="2013" style="visibility:hidden;"><br>
</div>

<!-- Replacement for the hidden accordion/controlled parameter element-->
<button style="display:none;">Data source</button>
<div class="panel" style="display:none;">
  <select name="datasource" id="datasource">
    <option value="WTK-LED" selected="selected">WTK-LED (2001-2020)</option>
    <option value="WTK">WTK (2007-2013)</option>
  </select>
  <!-- <br> <label for="fname">More info about datasets: link</label>
  <div class="vspace"></div> -->
</div>


<div id="resultsPane" class="resultsPane">
  <a href="#" class="close-thin" onclick="unblock_screen()"></a>

  <div id="loading_outer" class="loading_outer">
  <div class="loading">
    <table class="loading_screen_table">
      <tr>
        <!-- <td><h2 id="tap_is_working">TAP API is working...</h2></td> -->
        <img id="windwatts_loading" src="static/windwatts_beta_b.png"/>
      </tr>
      <tr>
        <td><img id="turbine" src="{{url_for('static', filename='turbine.gif')}}"/></td>
      </tr>
      <tr>
        <br>
        <td><a id="more_info" href="https://www.nrel.gov/wind/windwatts.html" target="_blank" rel="noopener noreferrer">
          Read more about WindWatts</a></td>
      </tr>
    </table>
  </div>
  </div>

  <div id="results_pane_content" class="results_pane_content">
  <div id="results_accordion_wrapper" class="results_accordion_wrapper">
  <!-- Example of an accordion element
  <button class="results_accordion">Map</button>
  <div class="results_panel">
    <div class="vspace"></div>
    <p id="map_contents">Texttexttexttext<p>
    <div class="vspace"></div>
  </div>
  -->
  </div>
  </div>
</div>

  <!--
    The `defer` attribute causes the callback to execute after the full HTML
    document has been parsed. For non-blocking uses, avoiding race conditions,
    and consistent behavior across browsers, consider loading using Promises.
    See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
    for more information.
    -->

  <!-- Old but working script:
    <script src='https://maps.googleapis.com/maps/api/js?key=REPLACE_WITH_API_KEY&callback=initMap&libraries=places&loading=async'
      defer>
    </script>
  -->

    <script>
      var api_key = '{{ google_maps_api_key }}'; // quotes are important
      //console.log("api_key: " + api_key);
      var script = document.createElement('script');
      script.src = 'https://maps.googleapis.com/maps/api/js?key=' + api_key + '&callback=initMap&libraries=places&loading=async';
      //console.log(script)
      // Append the 'script' element to 'head'
      document.head.appendChild(script);
    </script>

    <script src="static/js/initmap.js" mimetype="text/javascript"></script>
    <script src="static/js/accordion.js" mimetype="text/javascript"></script>

    <script>

    function block_screen() {

      // Show div with turbine (inside the results pane)
      $("#loading_outer").css("display", "block");
      $('#map_contents').text("");

      // Block screen (add blocking div)
      if ($('#screenBlock').length === 0) {
        $('<div id="screenBlock"></div>').appendTo('body');
        $('#screenBlock').css( { opacity: 0,} );
        $('#screenBlock').addClass('blockDiv');
        $('#screenBlock').animate({opacity: 0.7}, 200);
      }
      // Add results pane
      if ($('#resultsPane').length === 0) {
        // If not present already
        $('<div id="resultsPane"></div>').appendTo('body');
        $('#resultsPane').addClass('resultsPane');
      }
      else {
        // If present but not being shown
          $("#resultsPane").css("display", "block");
      }

      // Hide div with turbine
      //$("#loading_outer").css("display", "none");

      // Get rid of old results
      $("#results_accordion_wrapper").empty();

    }

    function unblock_screen() {
      $("#resultsPane").css("display", "none");

      $('#screenBlock').animate({opacity: 0}, 200, function() {
          $('#screenBlock').remove();
      });

    }

    /**
     * @param {"SHA-1"|"SHA-256"|"SHA-384"|"SHA-512"} algorithm https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/digest
     * @param {string|Blob} data
     * Source: https://stackoverflow.com/questions/59777670/how-can-i-hash-a-string-with-sha256
     */
    async function getHash(algorithm, data) {

      const main = async (msgUint8) => { // https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/digest#converting_a_digest_to_a_hex_string
        const hashBuffer = await crypto.subtle.digest(algorithm, msgUint8)
        const hashArray = Array.from(new Uint8Array(hashBuffer))
        return hashArray.map(b => b.toString(16).padStart(2, '0')).join(''); // convert bytes to hex string
      }

      if (data instanceof Blob) {
        const arrayBuffer = await data.arrayBuffer()
        const msgUint8 = new Uint8Array(arrayBuffer)
        return await main(msgUint8)
      }
      const encoder = new TextEncoder()
      const msgUint8 = encoder.encode(data)
      return await main(msgUint8)
    }

    async function make_data_request() {

      if ($('#output_report').prop("checked")) {
        var output_type = "report";
      }
      else {
        var output_type = "raw";
      };

      //let selected_height = document.querySelector('input[name="hub_height"]:checked').value; # old version with the option list

      // This dict needs to match exactly the labels in the element of class: ticks; can be implemented better!
      const hub_heights = {
        1: 30,
        2: 40,
        3: 60,
        4: 80,
        5: 100,
        6: 120,
        7: 140
      };
      let selected_height = hub_heights[document.querySelector('input[class="hub_height"]').value];

      let selected_powercurve = document.querySelector('input[name="powercurve"]:checked').value;
      //console.log("make_data_request(), selected_height:" + selected_height);

      var req_fields = JSON.stringify({
                lat: window.lat,
                lon: window.lon,
                //height: $('#hub_height').val(),
                height: selected_height,
                years: $('#years').val(),
                //powercurve: $('#powercurve').val(),
                powercurve: selected_powercurve,
                datasource: $('#datasource').val(),
                output_type: output_type,
              });

      // Using hash of request fields as request ID
      var req_id = await getHash("SHA-256", req_fields);
      console.log(req_id);

      window.req_id = req_id;

      var req = {
              method: "POST",
              body: JSON.stringify({
                lat: window.lat,
                lon: window.lon,
                //height: $('#hub_height').val(),
                height: selected_height,
                years: $('#years').val(),
                //powercurve: $('#powercurve').val(),
                powercurve: selected_powercurve,
                datasource: $('#datasource').val(),
                output_type: output_type,
                id: req_id,
              }),
              headers: {
                //"Content-type": "application/json; charset=UTF-8"
                // Avoiding error described at: https://stackoverflow.com/questions/5584923/a-cors-post-request-works-from-plain-javascript-but-why-not-with-jquery
                "Content-type": "text/plain"
              }
            };

      const response = await fetch("/data_request", req);
      const response_json = await response.json();
      return response_json;
    }

    const escapeHTML = str =>
      str.replace(
        /[&<>'"]/g,
        tag =>
          ({
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            "'": '&#39;',
            '"': '&quot;'
          }[tag] || tag)
      );

    // function downloadFile(url, filename) {
    //   // Create a link element
    //   const link = document.createElement('a');
    //   link.href = url;
    //   link.setAttribute('download', filename);
    //
    //   // Append to the body
    //   document.body.appendChild(link);
    //
    //   // Simulate a click
    //   link.click();
    //
    //   // Remove the link
    //   document.body.removeChild(link);
    // }

    async function downloadFile(url, dest) {
      //console.log("Inside downloadFile()")
      // Used for downloading ERA5 hourly files
      await fetch(url)
        .then(response => response.blob())
        .then(blob => {
          const url = window.URL.createObjectURL(blob);
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', dest); // Set the desired filename
          document.body.appendChild(link);
          link.click();
          link.remove();
        });
      $("#era5_hourly_download").prop("disabled", false);
      $('#era5_hourly_bottom_text').text("Check your \"Downloads\" folder.");
      $("#era5_hourly_bottom_text").removeClass("loading-background");
    }

    async function fetch_results() {
      let get;

      try {
        const FETCH_STR = "/data_request?id=" + window.req_id;
        //console.log("fetch str: " + FETCH_STR)
        const res = await fetch(FETCH_STR);
        get = await res.json();
      } catch (e) {
        console.error("Error: ", e);
      }

      if (Object.keys(get).length > 0){

        // Detected non-empty output file for the requested ID
        //console.log("NOT EMPTY")

        // Hide div with turbine
        $('#loading_outer').fadeOut(function() {
            $('#loading_outer').css("display", "none");
        });

        // Handle errors first
        if ("error" in get) {
          console.log("Rendering an error message.")
          $('#results_accordion_wrapper').append( '<p>' + escapeHTML(get["error"]) + ' </p>');
        }

        else if ("wtk_led_summary" in get) {
          console.log("Rendering wtk-led summary.")

          $('#results_accordion_wrapper').append( '<button class="results_accordion">Summary</button>');
          $('#results_accordion_wrapper').append( '<div class="results_panel summary_panel"></div>' );
          $('#results_accordion_wrapper .summary_panel').append( '<div id="contents">' + get["wtk_led_summary"] + '</div>');

          // May need to think about structuring different cases better!
          if ("wtk_led_windresource" in get) {
            $('#results_accordion_wrapper').append( '<button class="results_accordion">Wind Resource</button>');
            $('#results_accordion_wrapper').append( '<div class="results_panel windresource_panel"></div>' );
            $('#results_accordion_wrapper .windresource_panel').append( '<div id="contents">' + get["wtk_led_windresource"] + '</div>');
          }

          if ("wtk_led_energyproduction" in get) {
            $('#results_accordion_wrapper').append( '<button class="results_accordion">Energy Production</button>');
            $('#results_accordion_wrapper').append( '<div class="results_panel energyproduction_panel"></div>' );
            $('#results_accordion_wrapper .energyproduction_panel').append( '<div id="contents">' + get["wtk_led_energyproduction"] + '</div>');
          }

          //Temporarily disable showing of obs section
          if ("observations" in get) {
           $('#results_accordion_wrapper').append( '<button class="results_accordion">Nearby Observations</button>');
           $('#results_accordion_wrapper').append( '<div class="results_panel observations_panel"></div>' );
           $('#results_accordion_wrapper .observations_panel').append( '<div id="contents">' + get["observations"] + '</div>');
          }

          if ("uncertainty_summary" in get) {
           $('#results_accordion_wrapper').append( '<button class="results_accordion">Uncertainty Summary</button>');
           $('#results_accordion_wrapper').append( '<div class="results_panel uncertainty_summary_panel"></div>' );
           $('#results_accordion_wrapper .uncertainty_summary_panel').append( '<div id="contents">' + get["uncertainty_summary"] + '</div>');
         }

          if ("era5_summary" in get) {
           $('#results_accordion_wrapper').append( '<button class="results_accordion">Alternative Model</button>');
           $('#results_accordion_wrapper').append( '<div class="results_panel era5_summary_panel"></div>' );
           $('#results_accordion_wrapper .era5_summary_panel').append( '<div id="contents">' + get["era5_summary"] + '</div>');


           // Add the button to the page
            const button = document.createElement('button');
            // Add a class to the element
            button.id = 'era5_hourly_download';

            button.textContent = 'Download File';
            button.addEventListener('click', async () => {

              // Disable the button
              $("#era5_hourly_download").prop("disabled", true);
              $('#era5_hourly_bottom_text').text("Loading...");
              $("#era5_hourly_bottom_text").addClass("loading-background");

              // This dict needs to match exactly the labels in the element of class: ticks; can be implemented better!
              const hub_heights = {
                1: 30,
                2: 40,
                3: 60,
                4: 80,
                5: 100,
                6: 120,
                7: 140
              };
              let selected_height = hub_heights[document.querySelector('input[class="hub_height"]').value];
              //console.log(selected_height);
              //console.log(window.lat);
              //console.log(window.lon);
              console.log("Starting to fetch ERA5 hourly file")

              let selected_hourly_format = document.querySelector('input[name="hourly_format"]:checked').value;


              //const DEST_NAME = "windwatts-" + window.lat + "-" + window.lon + "-" + selected_height + "." + selected_hourly_format
              // For dest file: srw -> csv. Even srw files need to have csv extensions to be read in by SAM in the current format
              const DEST_NAME = "windwatts-" + window.lat + "-" + window.lon + "-" + selected_height + ".csv"

              const FETCH_STR =  "/era5-hourly?lat=" + window.lat + "&lon=" + window.lon + "&height=" + selected_height + "m&download=" + selected_hourly_format;
              await downloadFile(FETCH_STR, DEST_NAME);
              //onsole.log("Fetching: " + FETCH_STR);
              //const res = await fetch(FETCH_STR);
              //console.log("Done fetching, res: " + res);


              // Callback function after download starts
              //console.log('Download started!');

              // Enable button
              //$("#era5_hourly_download").prop("disabled", false);
              //$('#era5_hourly_bottom_text').text("This download usually takes less than 20 seconds.");
            });
            //document.body.appendChild(button);


           //$('#results_accordion_wrapper .era5_summary_panel #contents').append(button);

           $('#results_accordion_wrapper .era5_summary_panel #contents').append('<div id="era5_hourly_wrapper"></div>');
           //$('#era5_hourly_wrapper').append("<p id=\"era5_hourly_top_text\">You can download hourly ERA5 data for 2023 as a CSV file.</p>");
           $('#era5_hourly_wrapper').append("<p id=\"era5_hourly_top_text\">You can download hourly ERA5 data for 2023 as:</p>");
           $('#era5_hourly_wrapper').append("<fieldset class=\"hourly_fomat_fieldset\">\
             <input type=\"radio\" id=\"formatChoice1\" name=\"hourly_format\" value=\"csv\" checked=\"checked\" />\
             <label for=\"formatChoice1\">Standard CSV format</label>\
             <br>\
             <input type=\"radio\" id=\"formatChoice2\" name=\"hourly_format\" value=\"srw\" />\
             <label for=\"formatChoice2\">CSV format for NREL\'s System Advisor Model (SAM) -- betta version</label>\
           </fieldset>");

           $('#era5_hourly_wrapper').append(button);
           $('#era5_hourly_wrapper').append("<p id=\"era5_hourly_bottom_text\">This download usually takes less than 20 seconds.</p>");
          }


          //if ("uncertainty_data" in get) {
          //  $('#results_accordion_wrapper').append( '<button class="results_accordion">Raw Uncertainty Data (daily, 1 year)</button>');
          //  $('#results_accordion_wrapper').append( '<div class="results_panel uncertainty_data_panel"></div>' );
          //  $('#results_accordion_wrapper .uncertainty_data_panel').append( '<div id="contents">' + get["uncertainty_data"] + '</div>');
          //}
        }
        // the rest of rendering is for WTK
        else if ("raw" in get) {
          console.log("Processing case with raw timeseries sent as output.");
          // Modeling contents of results_accordion_wrapper after this simple exmaple:
          // <button class="results_accordion">Map</button>
          // <div class="results_panel">
          //   <p id="map_contents">Texttexttexttext<p>
          // </div>

          $('#results_accordion_wrapper').append( '<button class="results_accordion">Raw timeseries</button>');
          $('#results_accordion_wrapper').append( '<div class="results_panel"></div>' );
          $('#results_accordion_wrapper .results_panel').append('<button type="button" class="download_raw_timeseries">Download</button>')
          $('#results_accordion_wrapper .results_panel').append( '<p id="raw_contents">' + get.raw + '</p>');
        }
        else {
          console.log("Processing case with wind report sent as output.")
          if ("monthly" in get) {
            $('#results_accordion_wrapper').append( '<button class="results_accordion">Monthly plot</button>');
            $('#results_accordion_wrapper').append( '<div class="results_panel monthly_panel"></div>' );
            $('#results_accordion_wrapper .monthly_panel').append( '<div id="contents">' + get["monthly"] + '</div>');
          }
          if ("12x24" in get) {
            $('#results_accordion_wrapper').append( '<button class="results_accordion">12x24 Table</button>');
            $('#results_accordion_wrapper').append( '<div class="results_panel table_12x24_panel"></div>' );
            $('#results_accordion_wrapper .table_12x24_panel').append( '<div id="contents">' + get["12x24"] + '</div>');
          }
          if ("windrose" in get) {
            $('#results_accordion_wrapper').append( '<button class="results_accordion">Wind rose</button>');
            $('#results_accordion_wrapper').append( '<div class="results_panel windrose_panel"></div>' );
            $('#results_accordion_wrapper .windrose_panel').append( '<div id="contents">' + get["windrose"] + '</div>');
          }
          if (("energy" in get) && (get["energy"] !== "")) {
            $('#results_accordion_wrapper').append( '<button class="results_accordion">Energy</button>');
            $('#results_accordion_wrapper').append( '<div class="results_panel energy_panel"></div>' );
            $('#results_accordion_wrapper .energy_panel').append( '<div id="contents">' + get["energy"] + '</div>');
          }
          if ("info" in get) {
            $('#results_accordion_wrapper').append( '<button class="results_accordion">More info</button>');
            $('#results_accordion_wrapper').append( '<div class="results_panel info_panel"></div>' );
            $('#results_accordion_wrapper .info_panel').append( '<div id="info_contents">' + get["info"] + '</div>');
          }

        }

        results_accordion_update();

        clearTimeout(timeout);
        return false;
      }

      timeout = setTimeout(fetch_results, 1000);
    }

    function fetch_and_show_results() {
        // Helps abandon old IDs
        window.req_id = "";

        block_screen();

        // Post request that will start the process of data fetching and prearation of output
        make_data_request().then(response_json => {
          console.log(response_json);
        });

        // Get requests that will be checking for the completed output
        fetch_results();
    }

    </script>

</body>
</html>
