:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-light: #f8f9fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* needed to force the footer to comply with it's allowed space */
.nrel-footer-wrapper footer .container {
  max-width: 420 !important;
}
