/* CSS Reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* (Just ignore)top banner style */
.top-banner {
  margin-bottom: 0px;
  padding-left: 20px;
  background-color: #659DBD;
}

/*
.top-banner a, .top-banner span {
  display: inline-block;
}

.top-banner a {
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  color: #fff;
  color: rgba(255, 255, 255, .8);
}
*/

.top-banner span{
  width: 50px;
  heigth: 28px;
  line-height: 28px;
  background-color: #a1c45a;
  border-radius: 20px;
}

.top-banner a:hover {
  color: #fff9e0;
}
