.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}
input[type='checkbox'] {
  display: none;
}
.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 14px;
  text-align: center;

  padding: 1rem;

  color: #5f5c4ad9; /* old color: #A77B0E; */
  background: #adab9f; /* old color: #FAE042; */
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.0s ease-out;
}
.lbl-toggle:hover {
  color: #7C5A0B;
}
.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid currentColor;
  margin-right: 1.1rem;
  transform: translateY(-2px);

  transition: transform .0s ease-out;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .0s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 900vh;
  width: 900px;
  right: 10px;
  position: fixed;
}
.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.collapsible-content .content-inner {
  background: rgba(218, 223, 225, 1.0); /*old color: rgba(250, 224, 66, .2); */
  border-bottom: 1px solid rgba(99, 93, 56, 1.0); /*rgba(250, 224, 66, .45);*/
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  font-family: Verdana;
  color: black;
}
.wrap-collabsible {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 150px;
}
#info_logo {
    height: 30px;
}
