#banner_tap_ui {
  height: 60px;
  margin-top: 10px;
}

#banner_nrel {
  width: 200px;
  margin-top: 12px;
  margin-right: 40px;
  float: right;
  /*height: 60px; */
}

.vspace{
 margin-bottom: 10px;
}

.vspacel{
  margin-bottom: 40px;
}

#powercurve {
  font-size: 22px;
  font-family: Verdana;
  margin-top: 20px;
  min-width: 400px;
}

#powercurve option {
  font-size: 22px;
  font-family: Verdana;
  background-color: #ffffff;
}

.gm-svpc  {
  /* Hide google's drop-the-human button*/
  display: none !important;
}

.gm-fullscreen-control {
  /* Hide full screen button */
  display: none !important;
}

#custom_infomap_content {
  font-size: 20px;
}

#getwind_button {
  /* Old style:
  font-size: 20px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  height: 45px;
  padding: 0px 25px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;
  :hover{
      box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
      transition: all 0.1s ease 0s;
  }
  */
  height: 45px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 25px;
  background-color: #0070d2;
  border-radius: 0.25rem;
  border: 1px solid #0070d2;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  :hover {
      background-color: #005fb2;
      border-color: #005fb2;
  }

}

.blockDiv {
  /* Needed for graying out entire screen*/
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FFF;
  z-index: 100;
  width: 100% !important;
  height: 100% !important;
}

.resultsPane {
  width: 80% !important;
  height: 80% !important;
  z-index: 200;
  background-color: white !important; /* #F5F5F5 !important; */
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: 5px;
  border-width: 1px;
  border-color: #808080;
  border-style: solid;
  display: none;

  max-height: 80%;
}

.results_pane_content {
  overflow-y: scroll; /*allows vertical scrolling*/
  width: 100%;
  height: calc(100% - 35px);;
  top: 35px;
  position: relative;
}

/* Close Button */
[class*='close-'] {
  color: #777;
  font: 34px/100% arial, sans-serif;
  position: absolute;
  right: 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}
.close-thin:after {
  content: '×'; /* UTF-8 symbol */
}

/* Increase size of x in InfoWindow */
.gm-ui-hover-effect {
  top: 0px !important;
  right: 10px !important;
}
.gm-ui-hover-effect span {
  width: 24px !important;
  height: 24px !important;
}

/* Overwrite the default to keep the scrollbar always visible (needed for results accordion) */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.loading {
  width: 480px;
  text-align: center;
  margin: 0 auto;
  font-family: Verdana;
  color: #444;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}
.loading_outer {
  text-align: center;
  width: 100%;
  height: 100%;
}

#turbine {
  height: 180px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Styling input fields */
input[type=text] {
  width: 100%;
  padding: 12px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
  font-family: Verdana;
  font-size: 22px;
}

.output_selection {
  font-family: Verdana;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.download_raw_timeseries {
  /*
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #dddbda;
  color: #0070d2;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  :hover {
      background-color: #f4f6f9;
  }
  */
  height: 45px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 25px;
  background-color: #0070d2;
  border-radius: 0.25rem;
  border: 1px solid #0070d2;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  :hover {
      background-color: #005fb2;
      border-color: #005fb2;
  }
  margin-top: 8px;
  margin-bottom: 8px;
}

#raw_contents {
  margin-top: 20px;
  margin-bottom: 20px;
}

#contents {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#monthly_plot {
  width: 80%;
}

#table_12x24_panel{
  width: 80%;
}

.centered {
  text-align: center;
}

#colormap_table {
  /*width: 450px !important;*/
  color: black;
  font-size: 18px;
  border: none !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) !important;
  margin: auto;
}

.table_12x24_panel table {
  /*width: 450px !important;*/
  color: black;
  font-size: 18px;
  border: none !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) !important;
  margin: auto;
}

.table_12x24_panel table th, .table_12x24_panel table td{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#windrose_plot {
  width: 45%;
}

#info_contents {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Verdana;
  font-size: 22px;
}

.powercurve_fieldset {
  border-width: 0;
  line-height: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hubheight_fieldset {
  border-width: 0;
  line-height: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hubheight_label {
  margin-top: 10px;
}

.details_label {
  font-family: "Lato",sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-decoration: underline;
}

#windwatts_loading {
  height: 60px;
  margin-bottom: 0;
}

.loading_screen_table {
  width: 100%;
}

.production_label {
  font-family: "Lato",sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
}

.estimates_by_month_table {
  border-collapse: collapse;
  width: 90%;
}
.estimates_by_month_table td, .estimates_by_month_table th {
  border: 0px solid #ddd;
  padding: 8px;
}
.estimates_by_month_table tr:nth-child(even){background-color: #f2f2f2;}
.estimates_by_month_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #e4e4e4;
  color: black;
}

.estimates_by_year_table {
  border-collapse: collapse;
  width: 90%;
}
.estimates_by_year_table td, .estimates_by_year_table th {
  border: 0px solid #ddd;
  padding: 8px;
}
.estimates_by_year_table tr:nth-child(even){background-color: #f2f2f2;}
.estimates_by_year_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #e4e4e4;
  color: black;
}

.results_text li {
  margin-left: 25px;
}

.tr_top_align {
  vertical-align: top;
}

/* Styling for the hub height slider */
.options {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  /*width: 30em;*/
  border-radius: 1em;
  padding: 0 0 1em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.ticks {
  display: flex;
  margin-left: -5%;
  margin-right: -5%;
}

.o_txt {
  flex: 1;
}

.slider {
  width: 87%; /* manually adjust this to look right */
  margin: auto;
  cursor: grab;
  margin-top: 20px;
}

/* End of Styling for the hub height slider */


/* styling for tool tips */

.fa-solid, .fas {
font-weight: 900;
color: gray;
}

.tooltip {
	/*background-color: #ffaffc;
	border-radius: 10px;
	padding: 10px 15px;
  margin: 15px;
  text-align: center;*/
	position: relative;
}

.tooltip::after {
	background-color: #e4e4e4;
	border-radius: 10px;
	width: 350px;
	color: black;
	display: none;
	padding: 10px 15px;
	position: absolute;
	text-align: center;
	z-index: 999;
}

.tooltip::before {
	background-color: #e4e4e4;
	content: ' ';
	display: none;
	position: absolute;
	width: 15px;
	height: 15px;
	z-index: 999;
}

.tooltip:hover::after {
	display: block;
}

.tooltip:hover::before {
	display: block;
}

.tooltip.monthly_table_tooltip::after {
	content: 'Table shown below details the wind speed and energy output for each month based on the average of 20 years at the selected site.';
	top: 0;
	left: 50%;
  margin-left: 100px;
	transform: translate(-50%, calc(-100% - 10px));
}
.tooltip.monthly_table_tooltip::before {
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

.tooltip.yearly_table_tooltip::after {
	content: 'Table shown below gives the total energy output for the lowest and highest of 20 years, as well as the average year.';
	top: 0;
	left: 50%;
  margin-left: 100px;
	transform: translate(-50%, calc(-100% - 10px));
}
.tooltip.yearly_table_tooltip::before {
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

/* end of styling for tool tips*/

.obs_table th, td {
  padding: 8px;
}

.obs_table {
  text-align: left;
  width: 100%;
}

/* Table styling example: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */

.obs_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    /*font-family: sans-serif;*/
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.obs_table thead tr {
    background-color: #e4e4e4; /* #BD8565; /*#009879; */
    color: black;
    text-align: left;
}
.obs_table th,
.obs_table td {
    padding: 12px 15px;
}
.obs_table tbody tr {
    border-bottom: 0px solid #dddddd;
}

.obs_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.obs_table tbody tr:last-of-type {
    border-bottom: 1px solid #e4e4e4; /* #BD8565; /*#009879; */
}
.obs_table tbody tr.active-row {
    font-weight: bold;
    color: #e4e4e4; /* #BD8565; /*#009879; */
}

.obs_table > tbody > tr > td:nth-of-type(1) {
  font-family: "Lato",sans-serif;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 0px;
}

.bolden {
  font-weight: bold;
}

#era5_hourly_wrapper {
  text-align: left;
  margin-top: 30px;
  border: 2px solid gray;
  padding: 20px;
  border-radius: 5px;
}

#era5_hourly_top_text {
  padding-bottom: 10px;
}

#era5_hourly_bottom_text {
  /*padding-top: 10px;*/
}

#era5_hourly_download {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
}

/* Animation for loading... text */
@keyframes placeHolderShimmer {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 10000px 0;
    }
}

.loading-background {
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeHolderShimmer;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #aacfde 18%, #eeeeee 33%);
    position: relative;
}

/* end of Animation for loading... text */

.hourly_fomat_fieldset {
    border: 0;
}
