.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}
input[type='checkbox'] {
  display: none;
}
.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 14px;
  text-align: center;

  padding: 1rem;

  color: #5f5c4ad9;
  background: #e5d77f;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.0s ease-out;
}
.lbl-toggle:hover {
  color: #7C5A0B;
}
.wrap-collabsible {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
}
#info_logo {
    height: 30px;
}
